<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Sistema de Impressoras</h1>
							<p class="lead">
								Controle de estoque Xerox
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="img/avatars/xerox.jpg" alt="Charles Hall" class="img-fluid rounded-circle" width="132" height="132" />
									</div>
									<form method="post" action="login">
										<div class="mb-3">
											<label class="form-label">Login</label>
											<input class="form-control form-control-lg" type=text" name="nome" placeholder="Digite seu login" />
										</div>
										<div class="mb-3">
											<label class="form-label">Senha</label>
											<input class="form-control form-control-lg" type="password" name="senha" placeholder="Digite sua senha" />
											<small>
											<a href="cadastrar">CADASTRAR</a>
										</small>
										</div>
										<div class="text-center mt-3">
											{{!-- <a href="painel" class="btn btn-lg btn-primary">Entrar</a> --}}
											<button type="submit" class="btn btn-lg btn-primary">Sign in</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

</body>
